YT x Excel 雙週報統計.json
{
  "name": "攝影中心 雙週報統計 V2",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -240,
        128
      ],
      "id": "6dde850e-c6d6-4c52-a6c1-4308f3c63b9f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "SurDrPrkGuJWzfOV",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        352,
        -224
      ],
      "id": "6973e2eb-0031-4d9f-b5fd-fcdcdc67a4d8",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "={{ $json.link }}",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com(?:\\/.*|)\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "NN橫式",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SPREADSHEET_ID_1/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        496,
        -128
      ],
      "id": "68893b64-b161-4492-96ca-a65f31b4885c",
      "name": "橫式",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UYRKmacmDUxEGHHa",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "={{ $json.link }}",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com(?:\\/.*|)\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "sheetName": {
          "__rl": true,
          "value": 2051667824,
          "mode": "list",
          "cachedResultName": "NN短影音",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lLubxQnjer6GH1jdbNcoYBielf1A6BMmzI5Qjv-xhys/edit#gid=2051667824"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        496,
        224
      ],
      "id": "2b4aed4f-0011-494a-b368-c3e8ea281b53",
      "name": "短影音",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UYRKmacmDUxEGHHa",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        336,
        128
      ],
      "id": "610b66b2-c2d0-4c08-8da2-8e87d3a9da2c",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "jsCode": "// 1. 從先前的 'Code in JavaScript' 節點獲取使用者要求的開始與結束日期\n// 這裡使用 .first() 確保拿到最初定義的區間\nconst startStr = $('分類整理').first().json.start; \nconst endStr = $('分類整理').first().json.end;\n\n// 2. 將字串轉換為 Date 物件以便比較\nconst startDate = new Date(startStr);\nconst endDate = new Date(endStr);\n\n// 3. 篩選輸入的資料項 (items)\nreturn items.filter(item => {\n  const dateStr = item.json[\"日期\"];\n  \n  // 如果日期欄位為空，則跳過該筆資料\n  if (!dateStr || dateStr.trim() === \"\") return false;\n  \n  const itemDate = new Date(dateStr);\n  \n  // 判斷日期是否在區間以內 (包含起點與終點)\n  return itemDate >= startDate && itemDate <= endDate;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        -128
      ],
      "id": "ebafe05f-82af-4526-bfe8-1871bd5971b5",
      "name": "篩選區間日期"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const url = item.json[\"網址\"];\n  let videoId = null;\n\n  if (typeof url === 'string') {\n    const match = url.match(\n      /(?:youtube\\.com\\/(?:watch\\?v=|shorts\\/)|youtu\\.be\\/)([A-Za-z0-9_-]{11})/\n    );\n    videoId = match ? match[1] : null;\n  }\n\n  return {\n    json: {\n      ...item.json,\n      videoId,\n    }\n  };\n});\n\n"
      },
      "id": "967b1dc1-7b6b-499e-b995-7c5915845895",
      "name": "抓影片ID出來1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        -128
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "09fceff0-984a-4d85-adab-2ce4322c2baf",
              "name": "youtube觀看數",
              "value": "={{ $json.items && $json.items.length > 0 ? $json.items[0].statistics.viewCount : 0 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "5aa098a3-2353-4a33-abca-1e7e3ca43ec6",
      "name": "把觀看數取出來",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1232,
        -240
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/YOUR_SPREADSHEET_ID_2/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "橫式",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EKV4uor7dVikADRAm43fT30N48lTLzbgDcNia-A99Z4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "影音新聞標題": "={{ $('篩選區間日期').item.json[\"標題\"] }}",
            "剪輯者": "={{ $('篩選區間日期').item.json[\"剪輯\"] }}",
            "日期": "={{ $('篩選區間日期').item.json[\"日期\"] }}",
            "YouTube網址": "={{ $('篩選區間日期').item.json[\"網址\"] }}",
            "youtube觀看數": "={{ $json[\"youtube觀看數\"] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "影音新聞標題",
              "displayName": "影音新聞標題",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "剪輯者",
              "displayName": "剪輯者",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "日期",
              "displayName": "日期",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "YouTube網址",
              "displayName": "YouTube網址",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "youtube觀看數",
              "displayName": "youtube觀看數",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "60bffbff-efbd-4a2c-954d-6e7460aa5c86",
      "name": "填表單",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1392,
        -240
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UYRKmacmDUxEGHHa",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/push",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "YOUR_LINE_CHANNEL_ACCESS_TOKEN"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"to\": \"{{ $('接收日期區間').first().json.body.events[0].source.userId }}\",\n  \"messages\": [\n    {\n      \"type\": \"text\",\n      \"text\": \"{{ $json.message }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "138fddad-5363-4886-ae13-f95daf2d65d2",
      "name": "LINE通知",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1728,
        112
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c8283456-21f3-403d-ae05-6d7786ce8e3e",
              "name": "videoType",
              "value": "long",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        -128
      ],
      "id": "14482412-a1ae-4b25-957a-ccba529e8a27",
      "name": "橫式分類"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c8283456-21f3-403d-ae05-6d7786ce8e3e",
              "name": "videoType",
              "value": "shorts",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        224
      ],
      "id": "f09a1628-f313-4a0a-846c-46b69d1753c8",
      "name": "短影音分類"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "09fceff0-984a-4d85-adab-2ce4322c2baf",
              "name": "youtube觀看數",
              "value": "={{ $json.items && $json.items.length > 0 ? $json.items[0].statistics.viewCount : 0 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "7d335dad-695b-411e-9af0-6ef4785027ff",
      "name": "把觀看數取出來1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1232,
        112
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1EKV4uor7dVikADRAm43fT30N48lTLzbgDcNia-A99Z4/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1658563140,
          "mode": "list",
          "cachedResultName": "短影音",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EKV4uor7dVikADRAm43fT30N48lTLzbgDcNia-A99Z4/edit#gid=1658563140"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "影音新聞標題": "={{ $('篩選區間日期2').item.json[\"標題\"] }}",
            "剪輯者": "={{ $('篩選區間日期2').item.json[\"剪輯\"] }}",
            "日期": "={{ $('篩選區間日期2').item.json[\"日期\"] }}",
            "YouTube網址": "={{ $('篩選區間日期2').item.json[\"網址\"] }}",
            "youtube觀看數": "={{ $json[\"youtube觀看數\"] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "影音新聞標題",
              "displayName": "影音新聞標題",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "剪輯者",
              "displayName": "剪輯者",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "日期",
              "displayName": "日期",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "YouTube網址",
              "displayName": "YouTube網址",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "youtube觀看數",
              "displayName": "youtube觀看數",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "da976397-949d-4846-84b5-7993c39ab2b7",
      "name": "填表單1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1408,
        112
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UYRKmacmDUxEGHHa",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "weeklyreport",
        "options": {}
      },
      "id": "64af9230-9e32-4f61-9f88-74e80a05023a",
      "name": "接收日期區間",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -416,
        -64
      ],
      "webhookId": "a0d68a63-1c4f-430c-9cbe-b70f3893ff87"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=你是一個專業的資料檢索助手。當使用者輸入日期區間時，請嚴格執行以下 思考鏈 (Chain of Thought)：\n\n日期分析：根據當前年份 (2025-2026)，判斷使用者要求的區間涉及哪些月份（格式如：2025-11, 2025-12）。\n\n查找主控表：使用 Google Sheets 工具讀取名為「年度工作紀錄表單連結」的試算表。\n\n匹配連結：在該表中尋找與第一步判斷出的「月份 (ID)」相符的資料行，並提取對應的「試算表連結」。\n\n回傳結果：以 JSON 格式直接回傳所需月份及其連結。\n\n重要規範：\n1. 必須呼叫工具來取得真實連結，不可憑空猜測。\n2. 如果區間跨月（例如 11/24 到 12/10），請務必提供 所有 涉及月份的連結。\n\n【極度重要 - 輸出格式限制】：\n你必須且只能輸出純 JSON 字串。\n嚴格禁止輸出任何 Markdown 標記（如 ```json 或 ```）。\n嚴格禁止輸出任何解釋文字、開場白（如\"好的\"、\"根據分析\"）或結尾。\n輸出的內容必須直接以 \"{\" 開頭，並以 \"}\" 結尾。\n\n輸出格式範例：\n{\n  \"start\": \"2025/11/24\",\n  \"end\": \"2025/12/10\",\n  \"data\": [\n    {\"month\": \"2025-11\", \"link\": \"https://docs.google.com/...\"},\n    {\"month\": \"2025-12\", \"link\": \"https://docs.google.com/...\"}\n  ]\n}\n以下是使用者輸入的日期區間:{{ $json.body.events[0].message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -176,
        -64
      ],
      "id": "06e0ca3f-36a7-47e8-a909-61e7c60f1d78",
      "name": "解析日期區間 → 對應月份表單"
    },
    {
      "parameters": {
        "jsCode": "// 解析 AI 的 output 字串\nconst rawOutput = items[0].json.output;\nconst parsed = JSON.parse(rawOutput);\n\n// 將 data 陣列展開，並把 start/end 塞進每一項裡面\nreturn parsed.data.map(item => {\n  return {\n    json: {\n      month: item.month,\n      start: parsed.start, // 從外層拿 start\n      end: parsed.end,     // 從外層拿 end\n      spreadsheetId: item.link.split('/d/')[1].split('/')[0],\n      link: item.link\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        -64
      ],
      "id": "833536fc-fa0c-4bd2-b8c2-2f365dd1bd6b",
      "name": "分類整理"
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/youtube/v3/videos",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "statistics"
            },
            {
              "name": "id",
              "value": "={{ $json.videoId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "eaa50870-9fb1-485d-8c71-5d4b7ec4e544",
      "name": "抓YT資料",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1072,
        -240
      ],
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "i1HMgRgRna67XRJI",
          "name": "(NN) YouTube account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/youtube/v3/videos",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "statistics"
            },
            {
              "name": "id",
              "value": "={{ $json.videoId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "89422b03-e089-4413-a4c2-72dd7ca72839",
      "name": "抓YT資料1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1072,
        112
      ],
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "i1HMgRgRna67XRJI",
          "name": "(NN) YouTube account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. 從先前的 'Code in JavaScript' 節點獲取使用者要求的開始與結束日期\n// 這裡使用 .first() 確保拿到最初定義的區間\nconst startStr = $('分類整理').first().json.start; \nconst endStr = $('分類整理').first().json.end;\n\n// 2. 將字串轉換為 Date 物件以便比較\nconst startDate = new Date(startStr);\nconst endDate = new Date(endStr);\n\n// 3. 篩選輸入的資料項 (items)\nreturn items.filter(item => {\n  const dateStr = item.json[\"日期\"];\n  \n  // 如果日期欄位為空，則跳過該筆資料\n  if (!dateStr || dateStr.trim() === \"\") return false;\n  \n  const itemDate = new Date(dateStr);\n  \n  // 判斷日期是否在區間以內 (包含起點與終點)\n  return itemDate >= startDate && itemDate <= endDate;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        224
      ],
      "id": "b22b55a4-adc6-482a-b494-4622cb06f09d",
      "name": "篩選區間日期2"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const url = item.json[\"網址\"];\n  let videoId = null;\n\n  if (typeof url === 'string') {\n    const match = url.match(\n      /(?:youtube\\.com\\/(?:watch\\?v=|shorts\\/)|youtu\\.be\\/)([A-Za-z0-9_-]{11})/\n    );\n    videoId = match ? match[1] : null;\n  }\n\n  return {\n    json: {\n      ...item.json,\n      videoId,\n    }\n  };\n});\n\n"
      },
      "id": "66a083fa-a708-4b71-96ff-2fe83ee62745",
      "name": "抓影片ID出來2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        224
      ]
    },
    {
      "parameters": {
        "jsCode": "// 強制只回傳一筆資料，讓後續節點（LINE）只跑一次\nreturn [\n  {\n    json: {\n      message: \"雙週報數據已完成✅https://docs.google.com/spreadsheets/d/1EKV4uor7dVikADRAm43fT30N48lTLzbgDcNia-A99Z4/edit?usp=sharing\"\n    }\n  }\n];"
      },
      "id": "6d019e44-eea8-44fc-b2d7-761dded2ca99",
      "name": "統整",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        112
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "OUR_SPREADSHEET_ID_3",
          "mode": "list",
          "cachedResultName": "年度工作紀錄表單連結",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/OUR_SPREADSHEET_ID_3/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "工作紀錄表單",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/OUR_SPREADSHEET_ID_3/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        32,
        128
      ],
      "id": "dfde433b-7acc-42c8-a766-7cdf75b36ef9",
      "name": "年度工作紀錄表單連結",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UYRKmacmDUxEGHHa",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "解析日期區間 → 對應月份表單",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "抓YT資料",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "橫式",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "橫式": {
      "main": [
        [
          {
            "node": "橫式分類",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "短影音": {
      "main": [
        [
          {
            "node": "短影音分類",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "抓YT資料1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "短影音",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "抓影片ID出來1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "篩選區間日期": {
      "main": [
        [
          {
            "node": "抓影片ID出來1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "填表單": {
      "main": [
        []
      ]
    },
    "把觀看數取出來": {
      "main": [
        [
          {
            "node": "填表單",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "橫式分類": {
      "main": [
        [
          {
            "node": "篩選區間日期",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "短影音分類": {
      "main": [
        [
          {
            "node": "篩選區間日期2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "把觀看數取出來1": {
      "main": [
        [
          {
            "node": "填表單1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "填表單1": {
      "main": [
        [
          {
            "node": "統整",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "接收日期區間": {
      "main": [
        [
          {
            "node": "解析日期區間 → 對應月份表單",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "解析日期區間 → 對應月份表單": {
      "main": [
        [
          {
            "node": "分類整理",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "分類整理": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "抓YT資料": {
      "main": [
        [
          {
            "node": "把觀看數取出來",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "抓YT資料1": {
      "main": [
        [
          {
            "node": "把觀看數取出來1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "篩選區間日期2": {
      "main": [
        [
          {
            "node": "抓影片ID出來2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "抓影片ID出來2": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "統整": {
      "main": [
        [
          {
            "node": "LINE通知",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "年度工作紀錄表單連結": {
      "ai_tool": [
        [
          {
            "node": "解析日期區間 → 對應月份表單",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d4989199-caa2-47e9-bf17-673365e40c6e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c69dd2597370f5826ae20c1a948b264d03399fec2875780a8757da55e519fbc2"
  },
  "id": "BfApCNEszaxdlRrf",
  "tags": []
}
